<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定的dao/mapper接口 接口路径-->
<mapper namespace="com.jian.dao.AdminMapper">
  <!--  结果集映射
    <resultMap id="AdminMap" type="Admin">
        column 对应数据库列  property 对应实体类的属性
        <result column="" property=""></result>
    </resultMap>-->
  <!--查询语句  id=要实现的方法名   resultType=返回值的实现类   parameterType=参数类型-->
    <select id="getAdminList" resultType="Admin" >
        select * from `admin`
    </select>
    <!--查询语句  id=要实现的方法名   resultType=返回值的实现类   parameterType=参数类型  #{ }参数通配符-->
    <select id="getAdminByID" parameterType="_int" resultType="com.jian.pojo.Admin" >
        select * from `admin` where id = #{id}
    </select>
   <!--插入-->
    <insert id="addAdmin" parameterType="com.jian.pojo.Admin">
        insert into admin(id,`name`,password) value (#{id},#{name},#{password})
    </insert>
    <!--修改-->
    <update id="updateAdmin" parameterType="com.jian.pojo.Admin">
        update admin
        set name = #{name},password=#{password}
        where id=#{id};
    </update>
    <!--删除-->
    <delete id="deleteAdmin" parameterType="int">
          delete from admin where id=#{id}
    </delete>
    <!--根据名字模糊查询-->
    <select id="getAdminLike" resultType="com.jian.pojo.Admin" >
        select * from `admin` where name like "%"#{value}"%"
    </select>
    <!--分页查询-->
    <select id="getAdminLimit"  parameterType="map" resultType="Admin">
        select * from `admin` limit #{startIndex},#{pageSize}
    </select>
</mapper>